<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск информации о рейсе по названию</title>
    <link type="text/css" rel="stylesheet" href="/static/design_list.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </style>
</head>
<body>
    <header class="header_style">
        <div class="logo_position">
            <img src="/static/logo.png" height="150px" width="150px">
       </div>
    </header>

    <main>
        <h2 align="center">Введите названние рейса</h2>
        <div align="center">
            <form action="" method="POST">
                <label for="departure">Введите название рейса</label>
                <input name="input_flight_number" id="departure" type="text" placeholder="flight_number">
                <br><br>
                <input type="submit" value="Отправить">
            </form>
            <br><br>
            <a text_aling ="center" href="{{ url_for('bp_query.query_list') }}"> Нажмите для возврата в меню </a><br><br>
            <br><br>
            <h2 align="center">{{ error_message }}</h2>
        </div>
    </main>

</body>
</html>