<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Refused login</title>
        <link type="text/css" rel="stylesheet" href="/static/design_list.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <header class="header_style">
        <div class="logo_position">
            <img src="/static/logo.png" height="150px" width="150px">
       </div>
    </header>

    <main>
        <div>
            <h1 align="center">Для дальнейшей работы вам необходимо авторизоваться</h1>
            <p align="center">
                <a text_aling ="center" href="{{ url_for('menu_choice') }}"> Нажмите для возврата на главную страницу </a>
            </p>
        </div>
    </main>
</body>
</html>